// Variables
$gray-900: hsl(250, 35%, 15%);
$gray-800: hsl(250, 28%, 19%);
$gray-700: hsl(250, 19%, 27%);
$gray-600: hsl(250, 14%, 34%);
$gray-500: hsl(250, 9%, 46%);
$gray-400: hsl(250, 11%, 65%);
$gray-300: hsl(250, 2%, 84%);
$gray-200: hsl(250, 13%, 91%);
$gray-100: hsl(250, 14%, 96%);
$gray-000: hsl(245, 33%, 98%);

$purple-light: #f0f1ff;
$purple: #7257fa;
$purple-dark: #3c2e7f;
$green: #48cb8a;
$red: #f25c54;
$yellow: #ffd53d;
