// Imports

// Variables
$font-stack: 'Arial', sans-serif;

// General
body {
    font:100% $font-stack;
    margin: 0 auto;
    max-width: 50em;
    line-height: 1.5;
    padding: 2em;
    color: #555;
}

h1, h2, strong {
    color: #333;
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
}

a {
    color: #e81c4f;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

code {
    padding: 2px 4px;
    vertical-align: text-bottom;
}

pre {
    padding: 1em;
    border-left: 2px solid #e81c4f;
}

code, pre {
    background-color: #f5f7f9;
    color: #555;
    border-bottom: 1px solid #d8dee9;
}
