// Imports
@use './theme' as *;
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

// Variables
$font-stack: 'Nunito', sans-serif;

// General
body {
    font:100% $font-stack;
    font-size: $text-base;
    margin: 0 auto;
    max-width: 80em;
    line-height: 1.5;
    padding: 1.5em;
    color: $gray-700;
}

h1, h2, strong {
    color: $gray-800;
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
}

a {
    color: $purple;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

code {
    padding: 2px 4px;
    vertical-align: text-bottom;
}

pre {
    padding: 1em;
    border-left: 4px solid $purple;
}

code, pre {
    font:100% $font-stack;
    background-color: #f5f7f9;
    color: $gray-700;
    border-bottom: 1px solid #d8dee9;
}
